.videos {
  text-align: center;
  font-size: 2rem;
  background: #fff;
}
.videos__title {
  margin: 0px auto 20px;
  border-bottom: 1px solid gray;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
}
.videos__container {
  margin-bottom: 150px;
}
/* .videos__singleVideo{
    width: 100vw;
    height: 100%;
} */
@media (max-width: 425px) {
  .videos {
    display: none;
  }
}
